@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "YeZi";
  src: url("/YeZiGongChangTangYingHei-2.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Times New Roman", Geneva, Verdana, sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
}
/* .zh{
  font-family: 'YeZi';
} */
body {
  background-color: #f0fdfa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
